<div class="bg-primary-content min-h-screen overflow-x-hidden">
  <div class="overlay"></div>

  <header
    class="fixed w-full bg-secondary text-white z-50 shadow-lg animate-slide-down"
  >
    <div
      class="max-w-7xl mx-auto px-4 py-2 flex items-center justify-between h-20"
    >
      <button class="mobile-menu-button p-2 lg:hidden">
        <span class="text-2xl">
          <svg
            width="46"
            height="46"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M4 6h16"></path>
            <path d="M4 12h16"></path>
            <path d="M4 18h16"></path>
          </svg>
        </span>
      </button>
      <div class="text-xl">Qkit<span class="">Tran</span></div>
      <div class="flex items-center space-x-2 gap-5">
        <div class="dropdown dropdown-end">
          <div class="flex gap-2 items-center">
            <div tabindex="0" role="button">
              <p-overlaybadge
                badgeSize="small"
                [badgeDisabled]="notifyDot"
                [value]="unReadNotificationsCount"
                severity="danger"
              >
                <i
                  class="pi pi-bell text-yellow-300"
                  style="font-size: 1.5rem"
                ></i>
              </p-overlaybadge>
            </div>
          </div>
          <ul
            tabindex="0"
            class="dropdown-content menu bg-white text-black rounded-box z-[1] lg:w-96 shadow p-0"
          >
            <div
              class="flex justify-between gap-2 items-center p-4 text-primary text-sm"
            >
              <a
                class="cursor-pointer hover:text-blue-500"
                (click)="deleteAllNotifications()"
                >Xoá tất cả</a
              >
              <a
                class="cursor-pointer hover:text-blue-500"
                (click)="markReadAll()"
                >Đánh dấu đã đọc</a
              >
            </div>
            <div class="notification-list max-h-80 overflow-y-auto">
              <li *ngFor="let notify of notifications">
                <a
                  class="overflow-hidden hover:bg-primary-content py-4 rounded-none"
                  [ngClass]="{
                    'bg-info bg-opacity-10': notify.read_at === null
                  }"
                  (click)="markAsRead(notify.id)"
                  [routerLink]="
                    notify.data.type === 'new_post'
                      ? ['/post-detail', notify.data.user.post_slug]
                      : ['/admin/users']
                  "
                >
                  <div
                    class="flex items-center justify-around lg:justify-between py-2 gap-5 w-52 md:w-64 lg:w-80 px-0"
                  >
                    <div class="w-6 h-6 lg:w-12 lg:h-12">
                      <p-avatar
                        [image]="
                          notify.data.user.avatar !== ''
                            ? notify.data.user.avatar
                            : 'https://icons.veryicon.com/png/o/system/management-end-web/registered-users.png'
                        "
                        class=""
                        size="large"
                        shape="circle"
                      />
                    </div>
                    <div class="w-32 lg:w-64">
                      <p class="font-semibold">
                        {{ notify.data.message }}
                      </p>
                      <small class="text-blue-500">
                        {{ notify.created_at | relativeTime }}
                      </small>
                    </div>
                  </div>
                </a>
                <p-divider class="!m-0" />
              </li>
            </div>
            <div class="p-4 text-center text-sm text-gray-500">
              <p *ngIf="notifications.length === 0">Không có thông báo nào</p>
            </div>
          </ul>
        </div>
        <div class="dropdown dropdown-end">
          <div class="flex gap-2 items-center">
            <div tabindex="0" role="button">
              <img
                class="w-10 h-10 rounded-full transition-transform duration-300 hover:scale-110 object-center"
                *ngIf="userAvatar"
                [src]="userAvatar"
                alt="Avatar"
                alt="Profile"
              />
            </div>
            <div class="flex flex-col">
              <span *ngIf="username" class="text-lg">{{ username }}</span>
              <span *ngIf="userRole" class="text-sm text-primary-content">{{
                userRole
              }}</span>
            </div>
          </div>
          <ul
            tabindex="0"
            class="dropdown-content menu bg-secondary-content text-black rounded-box z-[1] w-52 p-2 shadow"
          >
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="pt-28 max-w-7xl mx-auto flex">
    <aside
      class="sidebar z-50 lg:z-0 fixed lg:static w-[240px] h-[calc(100vh-4rem)] lg:h-auto transform -translate-x-full lg:translate-x-0 transition-transform duration-300 z-45 overflow-y-auto p-4 bg-primary-content lg:bg-transparent"
    >
      <div
        class="bg-white rounded-xl shadow-lg mb-6 p-4 transition-all duration-300 hover:-translate-y-1 hover:shadow-xl"
        data-aos="fade-right"
        data-aos-duration="500"
      >
        <a
          routerLink="settings"
          routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
          class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
        >
          <span class="mr-2">
            <i class="pi pi-chart-bar text-success" style="font-size: 1rem"></i>
          </span>
          Thống kê
        </a>
        <a
          routerLink="category"
          routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
          class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
        >
          <span class="mr-2">
            <i
              class="pi pi-list-check text-success"
              style="font-size: 1rem"
            ></i>
          </span>

          Danh mục
        </a>

        <a
          routerLink="posts"
          routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
          class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
        >
          <span class="mr-2">
            <i
              class="pi pi-pen-to-square text-success"
              style="font-size: 1rem"
            ></i>
          </span>
          Đăng bài
        </a>
      </div>

      <div
        class="bg-white rounded-xl shadow-lg p-4 transition-all duration-300 hover:-translate-y-1 hover:shadow-xl"
        data-aos="fade-right"
        data-aos-duration="800"
      >
        <div>
          <ul class="menu p-0">
            <li>
              <details>
                <summary
                  class="px-0 flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md text-base"
                >
                  <span class="mr-2">
                    <p-overlaybadge
                      [badgeDisabled]="disableDot"
                      severity="danger"
                    >
                      <i
                        class="pi pi-calendar text-success"
                        style="font-size: 1rem"
                      ></i>
                    </p-overlaybadge>
                  </span>
                  Bài báo
                </summary>
                <ul>
                  <li>
                    <a
                      routerLink="list-post/all"
                      routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
                      class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                    >
                      <span class="mr-2">
                        <i
                          class="pi pi-calendar-plus text-success"
                          style="font-size: 1rem"
                        ></i>
                      </span>
                      Danh sách
                    </a>
                  </li>
                  <li>
                    <details open>
                      <summary
                        class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                      >
                        Quản lý
                      </summary>
                      <ul>
                        <li>
                          <a
                            routerLink="list-post/pending"
                            routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
                            class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                          >
                            <span class="mr-2">
                              <p-overlaybadge
                                [value]="pendingPost"
                                badgeSize="small"
                                severity="danger"
                              >
                                <i
                                  class="pi pi-hourglass text-success"
                                  style="font-size: 1rem"
                                ></i>
                              </p-overlaybadge>
                            </span>
                            Chờ duyệt
                          </a>
                        </li>
                      </ul>
                    </details>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
        <div>
          <ul class="menu p-0">
            <li>
              <details>
                <summary
                  class="px-0 flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md text-base"
                >
                  <span class="mr-2">
                    <i
                      class="pi pi-user text-success"
                      style="font-size: 1rem"
                    ></i>
                  </span>
                  Người dùng
                </summary>
                <ul>
                  <li>
                    <a
                      routerLink="authors"
                      routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
                      class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                    >
                      <span class="mr-2">
                        <i class="pi pi-user-edit text-success"></i>
                      </span>
                      Tác giả</a
                    >
                  </li>
                  <li>
                    <details open>
                      <summary
                        class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                      >
                        Người dùng
                      </summary>
                      <ul>
                        <li>
                          <a
                            routerLink="users"
                            routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
                            class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                          >
                            <span class="mr-2">
                              <i class="pi pi-user-plus text-success"></i>
                            </span>
                            Quản lý</a
                          >
                        </li>
                        <li>
                          <a
                            routerLink="user-statistics"
                            routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
                            class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                          >
                            <span class="mr-2">
                              <i class="pi pi-users text-success"></i>
                            </span>
                            Biểu đồ</a
                          >
                        </li>
                      </ul>
                    </details>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-lg mt-6 p-4 transition-all duration-300 hover:-translate-y-1 hover:shadow-xl"
        data-aos="fade-right"
        data-aos-duration="1100"
        once="false"
      >
        <a
          routerLink="refuse-reasons"
          routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
          class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
        >
          <span class="mr-2">
            <i class="pi pi-ban text-success" style="font-size: 1rem"></i>
          </span>
          Từ chối
        </a>

        <div>
          <ul class="menu p-0">
            <li>
              <details>
                <summary
                  class="px-0 flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md text-base"
                >
                  <span class="mr-2">
                    <i
                      class="pi pi-cog text-success"
                      style="font-size: 1rem"
                    ></i>
                  </span>
                  Cài đặt
                </summary>
                <ul>
                  <li>
                    <a
                      routerLink="web-settings"
                      routerLinkActive="text-secondary  bg-primary-content bg-opacity-50"
                      class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                    >
                      <span class="mr-2">
                        <i class="pi pi-microchip text-success"></i>
                      </span>
                      Cấu hình trang</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/"
                      class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                    >
                      <span class="mr-2">
                        <i class="pi pi-home text-success"></i>
                      </span>
                      Quay lại trang</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="logout()"
                      class="flex items-center text-black hover:text-primary py-4 transition-all duration-300 hover:translate-x-1 rounded-md"
                    >
                      <span class="mr-2">
                        <i class="pi pi-sign-out text-success"></i>
                      </span>
                      Đăng xuất</a
                    >
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <main class="flex-1 p-4">
      <router-outlet></router-outlet>
      <a
        *ngIf="isListPostAllRoute"
        class="fixed right-12 top-52 bg-secondary-content rounded-full overflow-hidden cursor-pointer"
        [routerLink]="['settings']"
      >
        <i class="pi pi-calendar" style="font-size: 2.5rem"></i>
      </a>
    </main>
  </div>
</div>
