<div class="card">
  <p-table
    #dt2
    dataKey="id"
    [value]="posts"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['title', 'posts_user.name']"
  >
    <ng-template pTemplate="caption" class="text-black">
      <div class="flex gap-5 items-center">
        <p-iconfield iconPosition="left" class="ml-auto w-full">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="searchGlobal($event)"
            class="w-full"
            placeholder="Tìm kiếm"
          />
        </p-iconfield>
        <p-button
          label="Clear"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="clear(dt2)"
        />
        <div>
          <p-drawer
            header="Bộ lọc nâng cao"
            [(visible)]="filterMenu"
            position="right"
          >
            <div class="gap-5 flex text-left flex-col">
              <p-datepicker
                (onSelect)="filterByDate($event)"
                dateFormat="yy-mm-dd"
                placeholder="Tìm kiếm theo ngày"
                appendTo="body"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                [readonlyInput]="true"
                selectionMode="single"
              />
              <div class="flex items-center">
                Trạng thái
                <p-columnFilter
                  field="status"
                  matchMode="equals"
                  display="menu"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false"
                  showClearButton="false"
                  showApplyButton="false"
                >
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-dropdown
                      [options]="status"
                      (onChange)="filter($event.value)"
                      placeholder="Trạng thái"
                      showClearButton="false"
                    >
                      <ng-template let-option #item>
                        <p-tag [value]="option.value" />
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="flex items-center">
                Tác giả
                <p-columnFilter
                  field="posts_user.id"
                  matchMode="equals"
                  display="menu"
                  showClearButton="false"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false"
                >
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-dropdown
                      [options]="authors"
                      (onChange)="filter($event.value)"
                      placeholder="Tác giả"
                    >
                      <ng-template let-option #item>
                        <p-tag [value]="option.value" />
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>
            </div>
          </p-drawer>
          <div class="flex gap-2 justify-center">
            <p-button
              type="button"
              (click)="filterMenu = true"
              icon="pi pi-filter"
            />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="body" let-post>
      <tr>
        <td class="bg-primary-content">
          <div class="grid grid-cols-1 gap-4 bg-white">
            <div class="overflow-hidden p-4">
              <div class="grid grid-cols-6 gap-10">
                <div
                  class="col-span-2 relative w-[250px] h-[150px] overflow-hidden"
                >
                  <p-image
                    *ngIf="post.thumbnail"
                    class="cursor-cell w-[250px] h-[150px] object-cover"
                    [src]="post.thumbnail"
                    alt="Ảnh đại diện của bài báo"
                    [preview]="true"
                  />
                  <div
                    *ngIf="!post.thumbnail"
                    class="text-lg font-semibold text-primary p-5 text-center items-center flex w-[250px] h-[150px] bg-gray-200 justify-center"
                  >
                    Bài báo không có hình đại diện
                  </div>
                  <div class="absolute top-5 left-5">
                    <p-tag
                      [value]="getStatusLabel(post.status).label"
                      [severity]="getStatusLabel(post.status).severity"
                    />
                  </div>
                </div>

                <div class="col-span-4">
                  <div
                    class="flex flex-col justify-between gap-3 w-full h-full pr-6"
                  >
                    <div class="flex justify-between">
                      <h3 class="text-xl font-semibold">{{ post.title }}</h3>
                      <span
                        [routerLink]="['/post-detail', post.slug]"
                        class="pi pi-eye cursor-pointer"
                        style="color: slateblue"
                      ></span>
                    </div>
                    <p class="text-primary">{{ post.summary }}</p>
                    <div
                      class="flex w-full justify-between items-center text-sm text-gray-500"
                    >
                      <p>
                        Bởi
                        <span class="text-primary text-xs">
                          {{
                            post.authors?.name
                              ? post.authors?.name
                              : post.posts_user?.name
                          }}
                        </span>
                      </p>
                      <p>
                        {{ post.published_at | date : "dd MMMM, YYYY HH:mm" }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Không có bài báo nào</td>
      </tr>
    </ng-template>
  </p-table>
</div>
