<form [formGroup]="postForm" (ngSubmit)="createPost()">
  <h6>Thêm bài báo</h6>
  <div *ngIf="isLoading" class="overlay"></div>
  <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
  <!-- Upload ảnh thumbnail -->
  <input type="file" (change)="onFileSelected($event)" />

  <!-- Tiêu đề -->
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Tiêu đề</span>
    </div>
    <input
      formControlName="title"
      type="text"
      placeholder="Tiêu đề bài báo"
      class="input input-bordered min-w-full"
    />
  </label>

  <!-- Nội dung -->
  <div>
    <span class="label-text pb-2">Nội dung</span>
    <div formControlName="content" [froalaEditor]="options"></div>
  </div>

  <!-- Tóm tắt nội dung -->
  <label class="form-control">
    <div class="label">
      <span class="label-text">Tóm tắt nội dung chính</span>
    </div>
    <textarea
      formControlName="summary"
      class="textarea textarea-bordered h-24"
      placeholder="Tóm tắt"
    ></textarea>
  </label>

  <div class="grid grid-cols-2 gap-2">
    <!-- Danh mục -->
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Danh mục</span>
      </div>
      <select class="select select-bordered" formControlName="category_id">
        <option disabled selected value="0">Chọn danh mục chính</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </label>

    <!-- Ngày đăng -->
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Ngày đăng tải</span>
      </div>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker3"
          placeholder="Value binding"
          formControlName="published_at"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </label>
  </div>

  <!-- Nút đăng bài -->
  <button class="btn btn-primary" type="submit">Đăng tải</button>
</form>
