<p>Thêm bài báo</p>
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Ảnh Thumbnail</span>
  </div>
  <div
    class="flex-1 items-center max-w-screen-sm mx-auto mb-3 space-y-4 sm:flex sm:space-y-0"
  >
    <div class="relative w-full">
      <div class="items-center justify-center max-w-xl mx-auto">
        <label
          class="flex justify-center w-full h-32 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none"
          id="drop"
        >
          <span class="flex items-center space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 text-gray-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
              ></path>
            </svg>
            <span class="font-medium text-gray-600">
              Kéo ảnh vào để đăng tải, hoặc
              <span class="text-blue-600 underline ml-[4px]">từ máy</span>
            </span>
          </span>
          <input
            type="file"
            name="file_upload"
            class="hidden"
            accept="image/png,image/jpeg"
            id="input"
          />
        </label>
      </div>
    </div>
  </div>
</label>
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Tiêu đề</span>
  </div>
  <input
    [(ngModel)]="newPost.title"
    type="text"
    placeholder="Tiêu đề bài báo"
    class="input input-bordered w-full max-w-xs"
  />
</label>
<label class="form-control">
  <div class="label">
    <span class="label-text">Tóm tắt nội dung chính</span>
  </div>
  <textarea
    [(ngModel)]="newPost.summary"
    class="textarea textarea-bordered h-24"
    placeholder="Tóm tắt"
  ></textarea>
</label>

<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Danh mục</span>
  </div>
  <select class="select select-bordered">
    <option disabled selected>Chọn danh mục chính</option>
    <option *ngFor="let category of categories" [(ngModel)]="category.id">
      {{ category.name }}
    </option>
  </select>
</label>
<mat-form-field>
  <mat-label>Chọn ngày đăng tải</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="newPost.published_at" />
  <mat-hint>Tháng/Ngày/Năm</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button class="btn btn-primary">Đăng tải</button>
