<div class="bg-white min-h-screen">
  <div class="w-full h-[350px] mb-4 relative" *ngIf="post.thumbnail">
    <!-- <div *ngIf="post.thumbnail" class="thumbnail-preview w-full h-[450px]">
        <img
          [src]="post.thumbnail"
          [alt]="post.slug"
          class="object-center h-full w-full"
        />
      </div> -->
    <img
      [src]="post.thumbnail"
      alt="Post thumbnail"
      class="absolute inset-0 w-full h-full object-center"
    />
    <div
      class="absolute inset-0 bg-gradient-to-t from-newsletter-bg-dark-alt via-black/50 to-transparent"
    ></div>
  </div>

  <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 pb-16">
    <div class="breadcrumbs text-sm text-black">
      <ul>
        <li><a class="text-primary" [routerLink]="['/']">Trang chủ</a></li>
        <li class="text-secondary">
          {{ getCategoryName(post.category_id) }}
        </li>
      </ul>
    </div>

    <p class="text-xl font-bold">
      {{ post.title }}
    </p>
    <div
      class="flex justify-between py-2 items-center border-b-2 border-secondary-content"
    >
      <div
        class="flex items-center font-normal text-primary text-xs gap-2 select-none"
      >
        <p-avatar
          *ngIf="!post.authors"
          image="{{ post.posts_user.avatar }}"
          styleClass="mr-2"
          shape="circle"
        />
        <p-avatar
          *ngIf="post.authors"
          image="{{ post.authors.avatar }}"
          shape="circle"
        />
        <span class="pr-2 border-r border-primary-content"
          >Bởi {{ post.authors ? post.authors?.name : post.posts_user?.name }}
        </span>
        <span class="px-2 border-r border-primary-content">
          {{ post.published_at | relativeTime }}
        </span>
        <span class="flex items-center gap-1">
          <i class="pi pi-eye" style="font-size: 12px"></i>
          {{ postView }}
        </span>
      </div>
      <div class="flex gap-2 items-center">
        <button title="Sao chép liên kết" (click)="copyLink()">
          <i class="pi pi-copy text-lg"></i>
        </button>
        <button><i class="pi pi-comment"></i></button>
        <button>
          <i class="pi pi-share-alt" (click)="shareOnFacebook()"></i>
        </button>
        <button>
          <i class="pi pi-bookmark"></i>
        </button>
      </div>
    </div>
    <div class="mt-8 sm:mt-5 prose prose-lg max-w-none prose-a:text-blue-600">
      <div *ngIf="post?.content" [froalaView]="post?.content ?? ''"></div>
      <div *ngIf="!post?.content && !isLoading">
        Nội dung đang được cập nhật...
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="overlay z-50">
  <app-loading></app-loading>
</div>
