<div
  class="flex w-full justify-between pb-5 border-b border-gray-700 items-center"
>
  <span class="text-primary text-2xl font-bold">Danh sách danh mục</span>
  <button
    class="btn btn-xs sm:btn-sm md:btn-md bg-primary hover:bg-secondary text-black font-normal"
    onclick="cateModal.showModal()"
  >
    Thêm
  </button>
  <dialog id="cateModal" #cateModal class="modal">
    <div class="modal-box bg-white text-primary">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
          ✕
        </button>
      </form>
      <h5 class="font-bold">Thêm danh mục</h5>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text text-lg">Tên danh mục</span>
        </div>
        <input
          [(ngModel)]="newCategory.name"
          type="text"
          placeholder="Nhập tên danh mục"
          class="input input-bordered w-full"
        />
      </label>
      <div class="flex w-full justify-end gap-5 mt-3">
        <form method="dialog">
          <button class="btn">Huỷ bỏ</button>
        </form>
        <button class="btn btn-outline btn-primary" (click)="createCategory()">
          Xác nhận
        </button>
      </div>
    </div>
  </dialog>
</div>
<div *ngIf="isLoading">Đang tải dữ liệu</div>
<table
  mat-table
  [dataSource]="categories"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8 my-4"
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      No.
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
