<div
  class="flex w-full justify-between pb-5 border-b border-gray-700 items-center"
>
  <span class="text-black text-2xl font-bold">Danh sách danh mục</span>
  <app-button
    variant="primary"
    (clicked)="resetForm()"
    onclick="cateModal.showModal()"
  >
    Thêm
  </app-button>
  <dialog id="cateModal" #cateModal class="modal">
    <div class="modal-box bg-white text-primary">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
          ✕
        </button>
      </form>
      <h5 class="font-bold">
        {{ editting ? "Sửa danh mục" : "Thêm danh mục" }}
      </h5>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text text-lg">Tên danh mục</span>
        </div>

        <span *ngIf="editting">
          <input
            [(ngModel)]="currentCategory.name"
            type="text"
            placeholder="Sửa"
            class="input input-bordered w-full"
          />
          <span
            *ngIf="validateCategoryName && !newCategory.name"
            class="text-red-500 text-sm font-thin"
            >Tên danh mục không được để trống</span
          >
        </span>
        <span *ngIf="!editting">
          <input
            [(ngModel)]="newCategory.name"
            type="text"
            placeholder="Thêm"
            class="input input-bordered w-full text-black focus:outline-offset-1"
            [ngClass]="{
              ' border-red-500 bg-red-50':
                validateCategoryName && !newCategory.name
            }"
          />
          <span
            *ngIf="validateCategoryName && !newCategory.name"
            class="text-red-500 text-sm font-thin"
            >Tên danh mục không được để trống</span
          >
        </span>
      </label>
      <div class="flex w-full justify-end gap-5 mt-3">
        <form method="dialog">
          <app-button variant="none" (clicked)="resetForm()">Huỷ bỏ</app-button>
        </form>
        <app-button *ngIf="!editting" (clicked)="createCategory()">
          Thêm
        </app-button>
        <app-button
          variant="warning"
          (clicked)="updateCategory()"
          *ngIf="editting"
          >Cập nhật</app-button
        >
      </div>
    </div>
  </dialog>
</div>
<div *ngIf="isLoading">Đang tải dữ liệu</div>
<div>
  <mat-form-field class="w-full">
    <mat-label>Bộ lọc</mat-label>
    <input
      matInput
      (keyup)="applyFilter()"
      [(ngModel)]="filterValue"
      placeholder="Tìm kiếm"
      #input
    />
  </mat-form-field>
  <table
    mat-table
    [dataSource]="categories"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 my-4 shadow"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        No.
      </th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <!-- Slug Column -->
    <ng-container matColumnDef="slug">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by slug"
      >
        Slug
      </th>
      <td mat-cell *matCellDef="let element">{{ element.slug }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Hành động</th>
      <td mat-cell *matCellDef="let element">
        <app-button
          variant="warning"
          class="mr-2"
          (click)="editCategory(element)"
        >
          Sửa
        </app-button>
        <app-button variant="primary" (clicked)="deleteModal(element.slug)">
          Xoá
        </app-button>
        <app-modal-submit-delete
          [isOpen]="isDeleted"
          (confirmModal)="deleteCategory()"
          (closeModal)="isDeleted = false"
          >Bạn có chắc chắn muốn xoá danh mục này?</app-modal-submit-delete
        >
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    class="shadow"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of categories"
  >
  </mat-paginator>
</div>
