<div *ngIf="isLoading" class="overlay">
  <app-loading></app-loading>
</div>

<header
  class="bg-newsletter-bg-dark text-newsletter-offwhite top-0 z-0 h-[450px] absolute w-full border-b border-gray-700"
>
  <div class="container mx-auto px-4 max-w-6xl">
    <div
      class="max-w-full p-4 sm:p-6 grid grid-cols-1 md:grid-cols-12 gap-3 md:gap-5 items-center min-h-[80px] md:min-h-[100px] py-2"
    >
      <div class="col-span-1 md:col-span-5 w-full text-center md:text-left">
        <a
          routerLink="/"
          class="font-serif font-extrabold text-3xl sm:text-4xl md:text-display-24 text-newsletter-offwhite inline-block"
        >
          NEWSLETTER
        </a>
      </div>

      <div class="col-span-1 md:col-span-7 w-full">
        <div class="w-full flex justify-center md:justify-end">
          <p-inputgroup class="w-full max-w-md">
            <input
              type="text"
              placeholder="Từ khoá"
              class="input rounded-none focus:outline-none bg-primary text-white w-full min-w-0"
              [(ngModel)]="searchKeyword"
              (keyup.enter)="performSearch()"
            />
            <app-button
              [variant]="'secondary'"
              (click)="performSearch()"
              class="rounded-l-none rounded-r-md flex-shrink-0 flex items-center justify-center"
            >
              Tìm kiếm
            </app-button>
          </p-inputgroup>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="max-w-6xl m-auto p-4 sm:p-6 relative top-20 z-0 pb-24">
  <router-outlet></router-outlet>
</div>

<app-footer class="bottom-0"></app-footer>
