.menu-category:first-child {
    margin-left: 2rem;
    background-color: #04594D;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(232, 232, 232, 0.8);
    z-index: 1000;
    pointer-events: all;
}