<div class="card">
  <p-chart
    type="doughnut"
    width="50px"
    [data]="basicData"
    [options]="basicOptions"
  />
</div>
<app-charts></app-charts>
<div class="w-96 h-96 relative image-container">
  <img
    class="w-96 h-96 object-cover image-card"
    src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t39.30808-6/485718283_1061163829385640_6689780956792567234_n.jpg?stp=dst-jpg_s1080x2048_tt6&_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_ohc=K_iyjJpaXoMQ7kNvgEmzAY6&_nc_oc=AdmGrnssiPOTq9QCt6tDZFQMiNnrOgpnfr_-tBbSiLsPrdCrJeDbg0XC3WZdFLExuxWjXJwfzuENgTsZ2K2ARzS_&_nc_zt=23&_nc_ht=scontent.fsgn5-8.fna&_nc_gid=yf6w0tyQfoQD3L27mqAhHw&oh=00_AYFzBwZNpBSWlkMgVHWAyk3hbxwtpZ9XBEM4ptCEFggGCA&oe=67E2FEDF"
  />
  <!-- Thêm div chứa chữ -->
  <div class="text-overlay">
    <p>10 Ways to Streamline Meal Prep for Efficient Weeknight Cooking</p>
    <p>By Ginny Dennis, Feb. 4, 2023</p>
  </div>
</div>
